language: java

jdk:
  - oraclejdk8

before_install:
  - chmod +x gradlew
  - openssl aes-256-cbc -K $encrypted_7dcf2dcd412f_key -iv $encrypted_7dcf2dcd412f_iv -in ./firebase-mirror/src/test/resources/serviceAccount.json.enc -out ./firebase-mirror/src/test/resources/serviceAccount.json -d

script:
  - ./gradlew check --stacktrace

after_success:
  - bash <(curl -s https://codecov.io/bash)
