language: java

before_install:
  - chmod +x gradlew
  # Decrypt the archive with all the confidential info (e.g. credentials).
  - openssl aes-256-cbc -K $encrypted_7dcf2dcd412f_key -iv $encrypted_7dcf2dcd412f_iv -in secrets.tar.enc -out secrets.tar -d
  # Extract the confidential files from the archive.
  - tar xvf secrets.tar
  # Move the `serviceAccount.json` file to the place where it is used.
  # It it required to perform this operation before the code is compiled.
  # Note that the target directory is initially empty (thus is not tracked by Git).
  - mkdir ./firebase-mirror/src/test/resources
  - mv ./serviceAccount.json ./firebase-mirror/src/test/resources/serviceAccount.json

script:
  - ./gradlew check --stacktrace

  # The publishing script should be executed in `script` section in order to
  # fail the Travis build if execution of this script is failed.
  - chmod +x ./scripts/publish.sh
  - ./scripts/publish.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
